<footer class="page-footer fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Contact's Book</h5>
                <p class="grey-text text-lighten-4">Easily organize, access and maintain contacts.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        ©Gaganjit Kaur 2020 Copyright Text

    </div>
</footer>