{{!-- <div class="header">
    <a href="#default" class="logo">Contact's Book</a>
    <div class="header-right">
        <a class="active" href="/">HOME</a>
        <a href="createPContacts">Add Personal Contacts</a>
        <a href="#contact">Add Business Contacts</a>
        <a href="pdcontacts">Delete pdcontacts</a>
        <a href="pcontacts">PContact list </a>
        <a href="/">ABOUT</a>
    </div>
</div> --}}
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Contact's Book</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="createPContacts">Add Personal Contacts</a></li>
            <li><a href="#contact">Add Business Contacts</a></li>
            <li><a href="pdcontacts">Delete pdcontacts</a></li>
            <li><a href="pcontacts">PContact list </a></li>
        </ul>
    </div>
</nav>