<table>

    <tr>
        <th>Name</th>
        <th>Phone</th>
    </tr>

    {{#each address}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.phone}}</td>


    </tr>
    {{/each}}
</table>