<form action="createContact" method="POST">
    <input placeholder="Contact Name" type="text" name="name" id="name">
    <input type="tel" name="phone" id="phone">
    <button type="submit">Create</button>
</form>