<div class="row">
    <div class="col s3">
        <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>


    </div>
    <div class="col s9">
        <img class="materialboxed" width="650" src="images/homepic.png">
    </div>
</div>