<form action="createPContacts" method="POST">
    <input placeholder="Enter First name" type="text" name="fname" id="fname">
    <input placeholder="Enter last name" type="text" name="lname" id="lname">
    <input placeholder="Enter the Email id" type="text" name="email" id="email">
    <input placeholder="Enter address" type="text" name="address" id="address">
    <input placeholder="Enter DOB" type="text" name="dob" id="dob">

    <input placeholder="Enter phone number" type="tel" name="phone" id="phone">
    <button type="submit">Create Personal Contact</button>
</form>